@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-2xs: 320px;
  --breakpoint-xs: 375px;
  --color-tertiary: #645EE2;
  --color-dark-primary: #111827;
  --color-dark-secondary: #172035;
  --color-dark-tertiary: #b5b5b5;
  --color-white-primary: #ffffff;
  --color-white-secondary: #1FDDFF;
  --color-white-tertiary: #111827;
  --color-dark-border: #242A38;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-rippling: rippling var(--duration) ease-out;
  --animate-shiny-text: shiny-text 8s infinite;

  @keyframes shiny-text {

    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }

    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  @keyframes rippling {
    0% {
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0)*.2s) infinite;

  @keyframes ripple {

    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }

    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }

  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;

  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }

    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

:root {
  --radius: 0.625rem;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #537BEA;
  --primary-foreground: #ffffff;
  --secondary: #1FDDFF;
  --secondary-foreground: #363636;
  --muted: #f8f8f8;
  --muted-foreground: #8e8e8e;
  --accent: #eeeeee;
  --accent-foreground: #363636;
  --destructive: #be4d25;
  --border: #ececec;
  --input: #ececec;
  --ring: #b5b5b5;
  --chart-1: #b77334;
  --chart-2: #5fa5d9;
  --chart-3: #6174d9;
  --chart-4: #e1ac3d;
  --chart-5: #dbb03b;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #252525;
  --sidebar-primary: #363636;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #363636;
  --sidebar-border: #ececec;
  --sidebar-ring: #b5b5b5;
  --background: #FAFAFA;
  --foreground: #000000;

}

.dark {
  --background: #111827;
  --foreground: #fcfcfc;
  --card: #363636;
  --card-foreground: #fcfcfc;
  --popover: #363636;
  --popover-foreground: #fcfcfc;
  --primary: #537BEA;
  --primary-foreground: #ffffff;
  --secondary: #1FDDFF;
  --secondary-foreground: #fcfcfc;
  --muted: #172035;
  --muted-foreground: #b5b5b5;
  --accent: #1C263F;
  --accent-foreground: #fcfcfc;
  --destructive: #c64b1e;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #8e8e8e;
  --chart-1: #776cd9;
  --chart-2: #bdbb50;
  --chart-3: #dbb03b;
  --chart-4: #7c66dc;
  --chart-5: #cc5e39;
  --sidebar: #363636;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #776cd9;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #172035;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #8e8e8e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.custom-shadow {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


/* From Uiverse.io by JulanDeAlb */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  /* stroke: var(--foreground); */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}